<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <title>WebPet</title>
</head>
<body class="flex justify-center">
  <div class="">
    <h1 class="text-center text-2xl my-4">Game over...</h1>
    <img src="https://media.hatsline.com/unsafe/600x600/img.hatsline.com/art/1/600/600/0a0909/104157/9b8585d750b85d7983b2f946fb356183.png.jpg">
  </div>
</body>
</html>
