<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="icon" href="https://img.icons8.com/nolan/64/cat.png">
  <title>WebPet</title>
</head>
<body class="flex justify-center">
  <div class="">
    <h1 class="text-center text-2xl my-4">Your pet is a machine!!!</h1>
    <img src="http://i.i.ua/cards/pic/4/7/196474.jpg">
  </div>
</body>
</html>
